* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bluecolor:#069bf8 ;
    --white:#d9dcd6;
    --navy:#172a36;

}

body {
    background-color:#d9dcd6;
}

header {
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#172a36;
}

header h1 {
    display: inline-block;
    font-size: 48px;
    background-color:var(--bluecolor) ;
    color:#172a36;
    display: inline-flex;
    justify-self: flex-start;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:var(--bluecolor) ;
}
    

header nav ul{
    display: flex;
    justify-self: flex-end;
}

header nav ul li {
    
    margin-left: 25px;
    color:var(--bluecolor) ;
    list-style: none;
    
}
header a{
    color:var(--bluecolor) ;
}

header a:hover{
    background-color: var(--bluecolor) ;
    color:var(--white);
}
#subtitle{
    background-image: url("../images/image1.jpg");
    background-size:100%;
    width:100%;
    height:200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#subtitle h2{
    background-color:var(--bluecolor) ;
    color:var(--white);
    margin-right: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

main{
    margin-top:2%;
    display: flex;
    flex-direction: column;
    color: #172a36;
}
main section h1{
    text-align: right;
    padding:10px;
    font-size: 200%;
    width:200px;
    align-self:stretch;
    font-weight:bold;
    border-right:5px solid var(--navy);
    
}

main section{
    display: flex;
    flex-direction: row;
    margin:5px;
    justify-content: flex-end;
}
main article{
    margin-left: 20px;
}
#about-me p{
    padding :10px;
    font-size:120%;
    width:70%;
    
}
figure img{
    width:100%;
    height: 300px;
    border: 2px solid #069bf8;
    
}

#work article{
    display: flex;
    flex-wrap: wrap;
}
#work article div{
    flex:1 1 400px;
    margin:5px;
}
figcaption{
    background-color: #069bf8;
    color:black;
    padding:5px;
    position:relative;
    top:-100px;
    width:fit-content;
}
#contactme ul{
    display: flex;
    justify-self: flex-start;
    margin: 50px;


}
#contactme li{
    font-size: 200%;
    list-style: none;
    margin:20px;
}
#contactme a{
    color:blue;
}


