* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    --bluecolor:hsl(203, 81%, 35%) ;
    --white:#d9dcd6;
    --navy:rgba(8,87,146,255);

}

body {
    background-color:#d9dcd6;
    font-family: "Gill Sans", sans-serif;
}

header {
    
    font-family: "Gill Sans", sans-serif;
    background-color:#172a36;
}

header h1 {
    display: inline-block;
    font-size: 300%;
    background-color:var(--bluecolor) ;
    color:#172a36;
    display: inline-flex;
    justify-self: flex-start;
    font-size: 200%;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color:var(--bluecolor) ;
}
    

header nav ul{
    display: flex;
    justify-self: flex-end;
}

header nav ul li {
    
    margin-left: 25px;
    color:var(--bluecolor) ;
    list-style: none;
    
}
header a{
    color:var(--bluecolor) ;
}

header a:hover{
    background-color: var(--bluecolor) ;
    color:var(--white);
}
#subtitle{
    background-image: url("../images/image1.jpg");
    background-size:100%;
    width:100%;
    height:200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#subtitle h2{
    background-color:var(--bluecolor) ;
    color:var(--white);
    margin-right: 10px;
    margin-bottom: 10px;
    align-self: flex-end;
}

.column-container{
    margin-top:2%;
    display: flex;
    flex-direction: column;
    color:var(--navy);
}
.column-container .column-items{  
    margin-bottom: 20px;
}
.row{
    display: flex;
    flex-direction: row;
}
.row h1{
    text-align: right;
    padding:10px;
    font-size: 250%;
    flex:0 0 20%;
    /* align-self:stretch; */
    font-weight:bold;
    border-right:5px solid var(--navy);
    
}
article p{
    margin-left:20px;
    width:fit-content;
}

.work-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

    margin-left: 20px;
    margin-right:20px;
    /* flex:2 0 60%; */

}

.work-container div{
    flex:0 0 47%;
    margin-bottom: 3%;
    
}
.work-container #recipe{
    flex:0 0 100%;
    /* margin-bottom: 3%; */
}

#recipe figure img{
    width: 100%;
    height: 500px;
    /* margin-bottom: 3%; */
}

#about-me p{
    padding :10px;
    font-size:120%;  
}

figure{
    position: relative;
    border: 4px solid #069bf8;
}

figure img{   
    height: 300px;
    width: 100%;
    
}

figcaption{
    background-color: #069bf8;
    color:black;
    padding:10px;
    position:absolute;
    top:100px;
    width:fit-content;
}

figcaption h3{
    margin: 0;
    
}

figcaption p{
    margin: 0;
    padding: 0;
}
img:hover{
   filter:opacity(70%);
}

#contactme ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;


}
#contactme li{
    font-size: 150%;
    list-style: none;
    margin:20px;
    flex:0 1 10%; 
}
#contactme a{
    color:var(--bluecolor);
    text-decoration-color:var(--navy);
    text-underline-offset: 7px;
}
#contactme article{
    width:100%;

}
#contactme a:hover{
    background-color: var(--navy);
    color:var(--white);
}
media


